# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/tests/coverage/

# production
/dist

# Supabase
supabase/.branches/
supabase/.temp/

# local env files
.env
.env.*

# IDE
.idea

# misc
.DS_Store
yarn-debug.log*
yarn-error.log*

# Yarn 4
.yarn/install-state.gz
