@import 'tailwindcss';

@plugin "./hero.ts";

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

th,
td,
tr,
button,
[role='button'],
[data-slot='value'],
[data-slot='input'],
[data-label='true'] {
  font-weight: 600 !important;
}

button,
[role='button'] {
  cursor: pointer;
}

#root:has([data-overlay-container='true']) [data-overlay-container='true'] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div[data-placement='top-center'] {
  z-index: 51;
}
