@tailwind base;
@tailwind components;
@tailwind utilities;

th,
td,
tr,
button,
[role='button'],
[data-slot='value'],
[data-slot='input'],
[data-label='true'] {
  font-weight: 600 !important;
}

[data-overlay-container='true'] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
